<app-navbar/>
<body>

  <div class="container">
    <h1>Lista de estudiantes</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Materia</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Pérez</td>
          <td>Matemáticas</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Ana García</td>
          <td>Español</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Pedro López</td>
          <td>Ciencias</td>
          <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

