<h2>Registro de Notas</h2>
<form ">
  <div class="form-group">
    <label>ID:</label>
    <input type="text" name="id" required>
  </div>
  <div class="form-group">
    <label>Materia:</label>
    <input type="text" name="materia" required>
  </div>
  <div class="form-group">
    <label>Nota:</label>
    <input type="number" name="nota"  required>
  </div>
  <div class="buttons">
    <button type="submit">Registrar</button>
    <button type="button" class="eliminar-btn">Eliminar</button>
  </div>
</form>
